{% extends 'default.html' %}

{% block title %}Register Page{% endblock %}

{% block content %}

<h1>Bienvenue dans notre page de creation de compte</h1>
<br>
<br>
<div>
      {% if message=='error' %}
      <p class="alert alert-danger">Impossible de se connecter!</p>
      {% elif message == 'invalide'%}
      <p class="alert alert-warning">SVP Remplir tout les champs.</p>
      {% elif message =='success'%}
      <p class="alert alert-success">Creation accomplie avec succes!</p>
      {% elif message == 'failure'%}
      <p class="alert alert-warning">Erreur au moment de la creation du profil.</p>
      {%endif%}
</div>
<form action="{{url_for ('register') }}" method="post" class="container">
    <div class="form-floating mb-3">
        <input name="nom_complet" type="text" class="form-control" id="nom_complet" placeholder="" >
        <label for="nom_complet">Nom complet</label>
      </div>
    <div class="form-floating mb-3">
      <input name="username" type="text" class="form-control" id="username" placeholder="" >
      <label for="username">Username</label>
    </div>
    <div class="form-floating mb-3">
      <input  name="password" type="password" class="form-control" id="password" placeholder="" >
      <label for="password">Password</label>
    </div>
    
    <input type="submit" value="Cree votre compte" class="btn btn-success">
  </form>
{% endblock %}